h1{
    text-align: center;
    text-decoration: underline;
}

.img{
    margin:20px;
    height: 400px;
}

.img2{
    margin:20px;
    height: 400px;
    padding: 10px;
}
.product_img{
     height: 300px;
    padding: 10px;
}

.footer{
    background-color: aqua;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
    font-size: 20px;

}

.p1{
    color: gray;
    
}

.c{
    color: red;
    text-shadow: 10px 10px 10px red;
}

.c1{
    text:aqua;
}
